body{
background:#141414 url(../images/bg.jpg) repeat-x;
}

#top{
	background:transparent url(../images/head.jpg) no-repeat;
	}
	
#wrapper{
	background:transparent url(../images/bg_body.jpg) repeat-y;
	}

#footer{
	background:transparent url(../images/footer.jpg);
	}

#logo {
	background: transparent url(../images/logo.png);
	}
	
a{
	color:#454545;
	text-decoration:underline;
	}
	
a:hover{
	text-decoration:none;
	}
	
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, body, #wrapper #nav a, #wrapper #nav li ul a, a:hover{
color:#2f2f2f;	
	}
	
.meta, .meta a{
color:#999;	
	}
	

/*#navigation colors:*/

#wrapper #nav a{
border:1px solid #fff; /* mainmenu item delimiter color */
background: transparent url(../images/menu_bg.jpg) repeat-x bottom;
color:#666;
}

#wrapper #nav li ul a, #wrapper #nav li ul a:active, #wrapper #nav li ul a:visited {
border:1px solid #aaa;
border-top:1px solid #fefefe;
background-color:#eee;
background-image:none;
}
#wrapper #nav li ul a:hover{
	border-bottom:1px solid #aaa;
	}

#wrapper #nav li ul a:hover, #wrapper #nav li ul a:focus{
background-color:#fff;
color:#141414;
}
#wrapper #nav a:hover, #wrapper #nav .current_page_item a, #wrapper #nav .current-cat a, #wrapper #nav .current-tab{
border-bottom:1px solid #f2f2f2;
color:#2f2f2f;
outline:none;
	}

.meta_date, .meta_cat{
	border-right:1px solid #bbb;
	}
	

/*sidebar*/

.widget{
background: transparent url(../images/sidebar_seperator.jpg) bottom left no-repeat;
	}
	
.icon1{
background: transparent url(../images/icon1.jpg);
	}

.icon2{
background: transparent url(../images/icon2.jpg);
	}
	
.widget a,.widget a:visited,#top .recentcomments,#top .widget_archive li,#top .widget_categories li,.commentlist li {
border-bottom:1px solid #ababab;
}

.widget a:hover, #top #wp-calendar a:hover,#top #wp-calendar a:hover{
	background-color:#ddd;
	color:#333;
	}

#wp-calendar th,#wp-calendar a, #wp-calendar a:visited {
background-color:#FFF; 
}
	
#s, .text_input, .text_area, .ajaxstyle input, .ajaxstyle textarea{
	border:1px solid #ababab;
	color:#333;
	}


#searchsubmit, #send, #submit{
	border:1px solid #ababab;
	background-color:#333;
	cursor:pointer;
	color:#fff;
	}
#searchsubmit:hover, #send:hover, #submit:hover {
	background-color:#ddd;
	color:#333;
	}
	
.more-link{
	background: transparent url(../images/arrow.png) right 6px no-repeat;
	}
	
.more-link:hover{
	color:#f31889;
	}
	
.entry_content img, .entry_content img a{
	background-color:#dedede;
	}
	
.entry_content blockquote cite, .entry_content blockquote cite a{
	color:#F31889;
	}
	
.entry_content blockquote{
	border-left:3px solid #666;
	color:#666;
	}
	
/*Pagination*/


.pagination span, .pagination a{
	border:1px solid #222;
	color:#e8e8e8;
	background-color:#333;
}

.pagination a:hover{
	border:1px solid #333;
	color:#333;
	background-color:#e8e8e8;
}
.pagination .current{
	border:1px solid #333;
	background-color:#F31889;
	color:#fff;
}


/*COMMENTS*/
.admincomment {
background-color:#ddd;
}


#top .commentlist{
border-top: 1px solid #ababab;
}

.commentlist li{
border-bottom:1px solid #ababab;
}
.trackback_list li a{
color:#333;
}

#commentform small {
color:#333;
}
	
.gravatar img{
background-color:#fff;
border:1px solid #ababab;
}	

.ajaxloader{
	background:transparent url(../images/ajax-loader.gif) right top no-repeat;
	}
	
.ajaxloader_white{
	background:transparent url(../images/ajax-loader-white.gif) right bottom no-repeat;
	}
	
.ajaxloader_content{
	color:#777777;
	}
	
#top .invalid-form{
	border:2px solid #900;
	margin:0;
	}
	
.ajaxerror{
	border:2px solid #990000;
color:#333333;
display:none;
font-size:9px;
margin:0 0 10px;
padding:5px;
	}
	
hr, .seperator{
	background:transparent url(../images/hr.jpg) 0 0 no-repeat;
	}